QLEER(Quality Learning Resources Reader)/src/conf/xml-resources/web-service-references/WebServiceSOAP2/wsdl/localhost_8080/LWS_ASSESS_OOF_V2/WebServiceSOAP2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="WebServiceSOAP2">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/LWS_ASSESS_OOF_V2/WebServiceSOAP2?xsd=1"/>
</xsd:schema>
</types>
<message name="usability">
<part name="parameters" element="tns:usability"/>
</message>
<message name="usabilityResponse">
<part name="parameters" element="tns:usabilityResponse"/>
</message>
<message name="redeability">
<part name="parameters" element="tns:redeability"/>
</message>
<message name="redeabilityResponse">
<part name="parameters" element="tns:redeabilityResponse"/>
</message>
<message name="LWSProcess2">
<part name="parameters" element="tns:LWSProcess2"/>
</message>
<message name="LWSProcess2Response">
<part name="parameters" element="tns:LWSProcess2Response"/>
</message>
<portType name="WebServiceSOAP2">
<operation name="usability">
<input wsam:Action="http://WebService/WebServiceSOAP2/usabilityRequest" message="tns:usability"/>
<output wsam:Action="http://WebService/WebServiceSOAP2/usabilityResponse" message="tns:usabilityResponse"/>
</operation>
<operation name="redeability">
<input wsam:Action="http://WebService/WebServiceSOAP2/redeabilityRequest" message="tns:redeability"/>
<output wsam:Action="http://WebService/WebServiceSOAP2/redeabilityResponse" message="tns:redeabilityResponse"/>
</operation>
<operation name="LWSProcess2">
<input wsam:Action="http://WebService/WebServiceSOAP2/LWSProcess2Request" message="tns:LWSProcess2"/>
<output wsam:Action="http://WebService/WebServiceSOAP2/LWSProcess2Response" message="tns:LWSProcess2Response"/>
</operation>
</portType>
<binding name="WebServiceSOAP2PortBinding" type="tns:WebServiceSOAP2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="usability">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="redeability">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LWSProcess2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceSOAP2">
<port name="WebServiceSOAP2Port" binding="tns:WebServiceSOAP2PortBinding">
<soap:address location="http://localhost:8080/LWS_ASSESS_OOF_V2/WebServiceSOAP2"/>
</port>
</service>
</definitions>