QLEER(Quality Learning Resources Reader)/web/WEB-INF/wsdl/localhost_8080/Marco_De_Servicios_Estadisticos/ServiciosReusabilidad.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ServiciosPrincipal/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ServiciosPrincipal/" name="ServiciosReusabilidad">
<types>
<xsd:schema>
<xsd:import namespace="http://ServiciosPrincipal/" schemaLocation="http://localhost:8080/Marco_De_Servicios_Estadisticos/ServiciosReusabilidad?xsd=1"/>
</xsd:schema>
</types>
<message name="ReusabilidadVarianza">
<part name="parameters" element="tns:ReusabilidadVarianza"/>
</message>
<message name="ReusabilidadVarianzaResponse">
<part name="parameters" element="tns:ReusabilidadVarianzaResponse"/>
</message>
<message name="ReusabilidadMedia">
<part name="parameters" element="tns:ReusabilidadMedia"/>
</message>
<message name="ReusabilidadMediaResponse">
<part name="parameters" element="tns:ReusabilidadMediaResponse"/>
</message>
<message name="ReusabilidadRango">
<part name="parameters" element="tns:ReusabilidadRango"/>
</message>
<message name="ReusabilidadRangoResponse">
<part name="parameters" element="tns:ReusabilidadRangoResponse"/>
</message>
<message name="ReusabilidadDesviacionEstandar">
<part name="parameters" element="tns:ReusabilidadDesviacionEstandar"/>
</message>
<message name="ReusabilidadDesviacionEstandarResponse">
<part name="parameters" element="tns:ReusabilidadDesviacionEstandarResponse"/>
</message>
<message name="ReusabilidadCorrelacion">
<part name="parameters" element="tns:ReusabilidadCorrelacion"/>
</message>
<message name="ReusabilidadCorrelacionResponse">
<part name="parameters" element="tns:ReusabilidadCorrelacionResponse"/>
</message>
<message name="ReusabilidadMediana">
<part name="parameters" element="tns:ReusabilidadMediana"/>
</message>
<message name="ReusabilidadMedianaResponse">
<part name="parameters" element="tns:ReusabilidadMedianaResponse"/>
</message>
<message name="ReusabilidadModa">
<part name="parameters" element="tns:ReusabilidadModa"/>
</message>
<message name="ReusabilidadModaResponse">
<part name="parameters" element="tns:ReusabilidadModaResponse"/>
</message>
<portType name="ServiciosReusabilidad">
<operation name="ReusabilidadVarianza">
<input wsam:Action="http://ServiciosPrincipal/ServiciosReusabilidad/ReusabilidadVarianzaRequest" message="tns:ReusabilidadVarianza"/>
<output wsam:Action="http://ServiciosPrincipal/ServiciosReusabilidad/ReusabilidadVarianzaResponse" message="tns:ReusabilidadVarianzaResponse"/>
</operation>
<operation name="ReusabilidadMedia">
<input wsam:Action="http://ServiciosPrincipal/ServiciosReusabilidad/ReusabilidadMediaRequest" message="tns:ReusabilidadMedia"/>
<output wsam:Action="http://ServiciosPrincipal/ServiciosReusabilidad/ReusabilidadMediaResponse" message="tns:ReusabilidadMediaResponse"/>
</operation>
<operation name="ReusabilidadRango">
<input wsam:Action="http://ServiciosPrincipal/ServiciosReusabilidad/ReusabilidadRangoRequest" message="tns:ReusabilidadRango"/>
<output wsam:Action="http://ServiciosPrincipal/ServiciosReusabilidad/ReusabilidadRangoResponse" message="tns:ReusabilidadRangoResponse"/>
</operation>
<operation name="ReusabilidadDesviacionEstandar">
<input wsam:Action="http://ServiciosPrincipal/ServiciosReusabilidad/ReusabilidadDesviacionEstandarRequest" message="tns:ReusabilidadDesviacionEstandar"/>
<output wsam:Action="http://ServiciosPrincipal/ServiciosReusabilidad/ReusabilidadDesviacionEstandarResponse" message="tns:ReusabilidadDesviacionEstandarResponse"/>
</operation>
<operation name="ReusabilidadCorrelacion">
<input wsam:Action="http://ServiciosPrincipal/ServiciosReusabilidad/ReusabilidadCorrelacionRequest" message="tns:ReusabilidadCorrelacion"/>
<output wsam:Action="http://ServiciosPrincipal/ServiciosReusabilidad/ReusabilidadCorrelacionResponse" message="tns:ReusabilidadCorrelacionResponse"/>
</operation>
<operation name="ReusabilidadMediana">
<input wsam:Action="http://ServiciosPrincipal/ServiciosReusabilidad/ReusabilidadMedianaRequest" message="tns:ReusabilidadMediana"/>
<output wsam:Action="http://ServiciosPrincipal/ServiciosReusabilidad/ReusabilidadMedianaResponse" message="tns:ReusabilidadMedianaResponse"/>
</operation>
<operation name="ReusabilidadModa">
<input wsam:Action="http://ServiciosPrincipal/ServiciosReusabilidad/ReusabilidadModaRequest" message="tns:ReusabilidadModa"/>
<output wsam:Action="http://ServiciosPrincipal/ServiciosReusabilidad/ReusabilidadModaResponse" message="tns:ReusabilidadModaResponse"/>
</operation>
</portType>
<binding name="ServiciosReusabilidadPortBinding" type="tns:ServiciosReusabilidad">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ReusabilidadVarianza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReusabilidadMedia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReusabilidadRango">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReusabilidadDesviacionEstandar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReusabilidadCorrelacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReusabilidadMediana">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReusabilidadModa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiciosReusabilidad">
<port name="ServiciosReusabilidadPort" binding="tns:ServiciosReusabilidadPortBinding">
<soap:address location="http://localhost:8080/Marco_De_Servicios_Estadisticos/ServiciosReusabilidad"/>
</port>
</service>
</definitions>