QLEER(Quality Learning Resources Reader)/web/WEB-INF/wsdl/localhost_8080/Marco_De_Servicios_Estadisticos/ServiciosReusabilidad.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://ServiciosPrincipal/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ServiciosPrincipal/">

<xs:element name="ReusabilidadCorrelacion" type="tns:ReusabilidadCorrelacion"/>

<xs:element name="ReusabilidadCorrelacionResponse" type="tns:ReusabilidadCorrelacionResponse"/>

<xs:element name="ReusabilidadDesviacionEstandar" type="tns:ReusabilidadDesviacionEstandar"/>

<xs:element name="ReusabilidadDesviacionEstandarResponse" type="tns:ReusabilidadDesviacionEstandarResponse"/>

<xs:element name="ReusabilidadMedia" type="tns:ReusabilidadMedia"/>

<xs:element name="ReusabilidadMediaResponse" type="tns:ReusabilidadMediaResponse"/>

<xs:element name="ReusabilidadMediana" type="tns:ReusabilidadMediana"/>

<xs:element name="ReusabilidadMedianaResponse" type="tns:ReusabilidadMedianaResponse"/>

<xs:element name="ReusabilidadModa" type="tns:ReusabilidadModa"/>

<xs:element name="ReusabilidadModaResponse" type="tns:ReusabilidadModaResponse"/>

<xs:element name="ReusabilidadRango" type="tns:ReusabilidadRango"/>

<xs:element name="ReusabilidadRangoResponse" type="tns:ReusabilidadRangoResponse"/>

<xs:element name="ReusabilidadVarianza" type="tns:ReusabilidadVarianza"/>

<xs:element name="ReusabilidadVarianzaResponse" type="tns:ReusabilidadVarianzaResponse"/>

<xs:complexType name="ReusabilidadDesviacionEstandar">
<xs:sequence>
<xs:element name="arreglo" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReusabilidadDesviacionEstandarResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReusabilidadRango">
<xs:sequence>
<xs:element name="arreglo" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReusabilidadRangoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReusabilidadModa">
<xs:sequence>
<xs:element name="arreglo" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReusabilidadModaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReusabilidadMedia">
<xs:sequence>
<xs:element name="arreglo" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReusabilidadMediaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReusabilidadCorrelacion">
<xs:sequence>
<xs:element name="arreglo" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReusabilidadCorrelacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReusabilidadMediana">
<xs:sequence>
<xs:element name="arreglo" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReusabilidadMedianaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReusabilidadVarianza">
<xs:sequence>
<xs:element name="arreglo" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReusabilidadVarianzaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>