QLEER(Quality Learning Resources Reader)/src/conf/xml-resources/web-service-references/Rango/wsdl/localhost_8080/Marco_De_Servicios_Estadisticos2/Rango.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios_Estadisticos/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios_Estadisticos/">

<xs:element name="Rango" type="tns:Rango"/>

<xs:element name="RangoResponse" type="tns:RangoResponse"/>

<xs:complexType name="Rango">
<xs:sequence>
<xs:element name="arreglo" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RangoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>