QLEER(Quality Learning Resources Reader)/web/WEB-INF/wsdl/localhost_8080/LWS_ASSESS_OOF_V2/WebServiceSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="WebServiceSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/LWS_ASSESS_OOF_V2/WebServiceSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="LWSProcess">
<part name="parameters" element="tns:LWSProcess"/>
</message>
<message name="LWSProcessResponse">
<part name="parameters" element="tns:LWSProcessResponse"/>
</message>
<message name="TipoDeLetraDocX">
<part name="parameters" element="tns:TipoDeLetraDocX"/>
</message>
<message name="TipoDeLetraDocXResponse">
<part name="parameters" element="tns:TipoDeLetraDocXResponse"/>
</message>
<message name="ColorDeFondoPDF">
<part name="parameters" element="tns:ColorDeFondoPDF"/>
</message>
<message name="ColorDeFondoPDFResponse">
<part name="parameters" element="tns:ColorDeFondoPDFResponse"/>
</message>
<message name="Aviabilidad">
<part name="parameters" element="tns:Aviabilidad"/>
</message>
<message name="AviabilidadResponse">
<part name="parameters" element="tns:AviabilidadResponse"/>
</message>
<message name="Completitud">
<part name="parameters" element="tns:Completitud"/>
</message>
<message name="CompletitudResponse">
<part name="parameters" element="tns:CompletitudResponse"/>
</message>
<message name="Defecto4">
<part name="parameters" element="tns:Defecto4"/>
</message>
<message name="Defecto4Response">
<part name="parameters" element="tns:Defecto4Response"/>
</message>
<message name="TipoDeLetraPDF">
<part name="parameters" element="tns:TipoDeLetraPDF"/>
</message>
<message name="TipoDeLetraPDFResponse">
<part name="parameters" element="tns:TipoDeLetraPDFResponse"/>
</message>
<message name="AlineacionPDF">
<part name="parameters" element="tns:AlineacionPDF"/>
</message>
<message name="AlineacionPDFResponse">
<part name="parameters" element="tns:AlineacionPDFResponse"/>
</message>
<message name="Defecto1">
<part name="parameters" element="tns:Defecto1"/>
</message>
<message name="Defecto1Response">
<part name="parameters" element="tns:Defecto1Response"/>
</message>
<message name="usability">
<part name="parameters" element="tns:usability"/>
</message>
<message name="usabilityResponse">
<part name="parameters" element="tns:usabilityResponse"/>
</message>
<message name="AlineacionDocX">
<part name="parameters" element="tns:AlineacionDocX"/>
</message>
<message name="AlineacionDocXResponse">
<part name="parameters" element="tns:AlineacionDocXResponse"/>
</message>
<message name="Defecto2">
<part name="parameters" element="tns:Defecto2"/>
</message>
<message name="Defecto2Response">
<part name="parameters" element="tns:Defecto2Response"/>
</message>
<message name="ColorDeFondoDocX">
<part name="parameters" element="tns:ColorDeFondoDocX"/>
</message>
<message name="ColorDeFondoDocXResponse">
<part name="parameters" element="tns:ColorDeFondoDocXResponse"/>
</message>
<message name="Defecto5">
<part name="parameters" element="tns:Defecto5"/>
</message>
<message name="Defecto5Response">
<part name="parameters" element="tns:Defecto5Response"/>
</message>
<message name="redeability">
<part name="parameters" element="tns:redeability"/>
</message>
<message name="redeabilityResponse">
<part name="parameters" element="tns:redeabilityResponse"/>
</message>
<message name="Defecto3">
<part name="parameters" element="tns:Defecto3"/>
</message>
<message name="Defecto3Response">
<part name="parameters" element="tns:Defecto3Response"/>
</message>
<message name="Accesibility">
<part name="parameters" element="tns:Accesibility"/>
</message>
<message name="AccesibilityResponse">
<part name="parameters" element="tns:AccesibilityResponse"/>
</message>
<message name="TamañoDeLaFuentePDF">
<part name="parameters" element="tns:TamañoDeLaFuentePDF"/>
</message>
<message name="TamañoDeLaFuentePDFResponse">
<part name="parameters" element="tns:TamañoDeLaFuentePDFResponse"/>
</message>
<message name="ColorDeLaFuentePDF">
<part name="parameters" element="tns:ColorDeLaFuentePDF"/>
</message>
<message name="ColorDeLaFuentePDFResponse">
<part name="parameters" element="tns:ColorDeLaFuentePDFResponse"/>
</message>
<message name="ColorDeLaFuenteDocX">
<part name="parameters" element="tns:ColorDeLaFuenteDocX"/>
</message>
<message name="ColorDeLaFuenteDocXResponse">
<part name="parameters" element="tns:ColorDeLaFuenteDocXResponse"/>
</message>
<message name="TamañoDeLaFuenteDocX">
<part name="parameters" element="tns:TamañoDeLaFuenteDocX"/>
</message>
<message name="TamañoDeLaFuenteDocXResponse">
<part name="parameters" element="tns:TamañoDeLaFuenteDocXResponse"/>
</message>
<portType name="WebServiceSOAP">
<operation name="LWSProcess">
<input wsam:Action="http://WebService/WebServiceSOAP/LWSProcessRequest" message="tns:LWSProcess"/>
<output wsam:Action="http://WebService/WebServiceSOAP/LWSProcessResponse" message="tns:LWSProcessResponse"/>
</operation>
<operation name="TipoDeLetraDocX">
<input wsam:Action="http://WebService/WebServiceSOAP/TipoDeLetraDocXRequest" message="tns:TipoDeLetraDocX"/>
<output wsam:Action="http://WebService/WebServiceSOAP/TipoDeLetraDocXResponse" message="tns:TipoDeLetraDocXResponse"/>
</operation>
<operation name="ColorDeFondoPDF">
<input wsam:Action="http://WebService/WebServiceSOAP/ColorDeFondoPDFRequest" message="tns:ColorDeFondoPDF"/>
<output wsam:Action="http://WebService/WebServiceSOAP/ColorDeFondoPDFResponse" message="tns:ColorDeFondoPDFResponse"/>
</operation>
<operation name="Aviabilidad">
<input wsam:Action="http://WebService/WebServiceSOAP/AviabilidadRequest" message="tns:Aviabilidad"/>
<output wsam:Action="http://WebService/WebServiceSOAP/AviabilidadResponse" message="tns:AviabilidadResponse"/>
</operation>
<operation name="Completitud">
<input wsam:Action="http://WebService/WebServiceSOAP/CompletitudRequest" message="tns:Completitud"/>
<output wsam:Action="http://WebService/WebServiceSOAP/CompletitudResponse" message="tns:CompletitudResponse"/>
</operation>
<operation name="Defecto4">
<input wsam:Action="http://WebService/WebServiceSOAP/Defecto4Request" message="tns:Defecto4"/>
<output wsam:Action="http://WebService/WebServiceSOAP/Defecto4Response" message="tns:Defecto4Response"/>
</operation>
<operation name="TipoDeLetraPDF">
<input wsam:Action="http://WebService/WebServiceSOAP/TipoDeLetraPDFRequest" message="tns:TipoDeLetraPDF"/>
<output wsam:Action="http://WebService/WebServiceSOAP/TipoDeLetraPDFResponse" message="tns:TipoDeLetraPDFResponse"/>
</operation>
<operation name="AlineacionPDF">
<input wsam:Action="http://WebService/WebServiceSOAP/AlineacionPDFRequest" message="tns:AlineacionPDF"/>
<output wsam:Action="http://WebService/WebServiceSOAP/AlineacionPDFResponse" message="tns:AlineacionPDFResponse"/>
</operation>
<operation name="Defecto1">
<input wsam:Action="http://WebService/WebServiceSOAP/Defecto1Request" message="tns:Defecto1"/>
<output wsam:Action="http://WebService/WebServiceSOAP/Defecto1Response" message="tns:Defecto1Response"/>
</operation>
<operation name="usability">
<input wsam:Action="http://WebService/WebServiceSOAP/usabilityRequest" message="tns:usability"/>
<output wsam:Action="http://WebService/WebServiceSOAP/usabilityResponse" message="tns:usabilityResponse"/>
</operation>
<operation name="AlineacionDocX">
<input wsam:Action="http://WebService/WebServiceSOAP/AlineacionDocXRequest" message="tns:AlineacionDocX"/>
<output wsam:Action="http://WebService/WebServiceSOAP/AlineacionDocXResponse" message="tns:AlineacionDocXResponse"/>
</operation>
<operation name="Defecto2">
<input wsam:Action="http://WebService/WebServiceSOAP/Defecto2Request" message="tns:Defecto2"/>
<output wsam:Action="http://WebService/WebServiceSOAP/Defecto2Response" message="tns:Defecto2Response"/>
</operation>
<operation name="ColorDeFondoDocX">
<input wsam:Action="http://WebService/WebServiceSOAP/ColorDeFondoDocXRequest" message="tns:ColorDeFondoDocX"/>
<output wsam:Action="http://WebService/WebServiceSOAP/ColorDeFondoDocXResponse" message="tns:ColorDeFondoDocXResponse"/>
</operation>
<operation name="Defecto5">
<input wsam:Action="http://WebService/WebServiceSOAP/Defecto5Request" message="tns:Defecto5"/>
<output wsam:Action="http://WebService/WebServiceSOAP/Defecto5Response" message="tns:Defecto5Response"/>
</operation>
<operation name="redeability">
<input wsam:Action="http://WebService/WebServiceSOAP/redeabilityRequest" message="tns:redeability"/>
<output wsam:Action="http://WebService/WebServiceSOAP/redeabilityResponse" message="tns:redeabilityResponse"/>
</operation>
<operation name="Defecto3">
<input wsam:Action="http://WebService/WebServiceSOAP/Defecto3Request" message="tns:Defecto3"/>
<output wsam:Action="http://WebService/WebServiceSOAP/Defecto3Response" message="tns:Defecto3Response"/>
</operation>
<operation name="Accesibility">
<input wsam:Action="http://WebService/WebServiceSOAP/AccesibilityRequest" message="tns:Accesibility"/>
<output wsam:Action="http://WebService/WebServiceSOAP/AccesibilityResponse" message="tns:AccesibilityResponse"/>
</operation>
<operation name="TamañoDeLaFuentePDF">
<input wsam:Action="http://WebService/WebServiceSOAP/TamañoDeLaFuentePDFRequest" message="tns:TamañoDeLaFuentePDF"/>
<output wsam:Action="http://WebService/WebServiceSOAP/TamañoDeLaFuentePDFResponse" message="tns:TamañoDeLaFuentePDFResponse"/>
</operation>
<operation name="ColorDeLaFuentePDF">
<input wsam:Action="http://WebService/WebServiceSOAP/ColorDeLaFuentePDFRequest" message="tns:ColorDeLaFuentePDF"/>
<output wsam:Action="http://WebService/WebServiceSOAP/ColorDeLaFuentePDFResponse" message="tns:ColorDeLaFuentePDFResponse"/>
</operation>
<operation name="ColorDeLaFuenteDocX">
<input wsam:Action="http://WebService/WebServiceSOAP/ColorDeLaFuenteDocXRequest" message="tns:ColorDeLaFuenteDocX"/>
<output wsam:Action="http://WebService/WebServiceSOAP/ColorDeLaFuenteDocXResponse" message="tns:ColorDeLaFuenteDocXResponse"/>
</operation>
<operation name="TamañoDeLaFuenteDocX">
<input wsam:Action="http://WebService/WebServiceSOAP/TamañoDeLaFuenteDocXRequest" message="tns:TamañoDeLaFuenteDocX"/>
<output wsam:Action="http://WebService/WebServiceSOAP/TamañoDeLaFuenteDocXResponse" message="tns:TamañoDeLaFuenteDocXResponse"/>
</operation>
</portType>
<binding name="WebServiceSOAPPortBinding" type="tns:WebServiceSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="LWSProcess">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TipoDeLetraDocX">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ColorDeFondoPDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aviabilidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Completitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Defecto4">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TipoDeLetraPDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AlineacionPDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Defecto1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="usability">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AlineacionDocX">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Defecto2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ColorDeFondoDocX">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Defecto5">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="redeability">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Defecto3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Accesibility">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TamañoDeLaFuentePDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ColorDeLaFuentePDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ColorDeLaFuenteDocX">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TamañoDeLaFuenteDocX">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceSOAP">
<port name="WebServiceSOAPPort" binding="tns:WebServiceSOAPPortBinding">
<soap:address location="http://localhost:8080/LWS_ASSESS_OOF_V2/WebServiceSOAP"/>
</port>
</service>
</definitions>