QLEER(Quality Learning Resources Reader)/src/conf/xml-resources/web-service-references/WebServiceSOAP2/WebServiceSOAP_1/wsdl/localhost_8080/LWS_ASSESS_OOF_V2/WebServiceSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="WebServiceSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/LWS_ASSESS_OOF_V2/WebServiceSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="TamañoDeLaFuente">
<part name="parameters" element="tns:TamañoDeLaFuente"/>
</message>
<message name="TamañoDeLaFuenteResponse">
<part name="parameters" element="tns:TamañoDeLaFuenteResponse"/>
</message>
<message name="obtenerDirecciondelRecurso">
<part name="parameters" element="tns:obtenerDirecciondelRecurso"/>
</message>
<message name="obtenerDirecciondelRecursoResponse">
<part name="parameters" element="tns:obtenerDirecciondelRecursoResponse"/>
</message>
<message name="Defecto3">
<part name="parameters" element="tns:Defecto3"/>
</message>
<message name="Defecto3Response">
<part name="parameters" element="tns:Defecto3Response"/>
</message>
<message name="Defecto4">
<part name="parameters" element="tns:Defecto4"/>
</message>
<message name="Defecto4Response">
<part name="parameters" element="tns:Defecto4Response"/>
</message>
<message name="redeability">
<part name="parameters" element="tns:redeability"/>
</message>
<message name="redeabilityResponse">
<part name="parameters" element="tns:redeabilityResponse"/>
</message>
<message name="ColorDeFondo">
<part name="parameters" element="tns:ColorDeFondo"/>
</message>
<message name="ColorDeFondoResponse">
<part name="parameters" element="tns:ColorDeFondoResponse"/>
</message>
<message name="Defecto2">
<part name="parameters" element="tns:Defecto2"/>
</message>
<message name="Defecto2Response">
<part name="parameters" element="tns:Defecto2Response"/>
</message>
<message name="Aviabilidad">
<part name="parameters" element="tns:Aviabilidad"/>
</message>
<message name="AviabilidadResponse">
<part name="parameters" element="tns:AviabilidadResponse"/>
</message>
<message name="Alineacion">
<part name="parameters" element="tns:Alineacion"/>
</message>
<message name="AlineacionResponse">
<part name="parameters" element="tns:AlineacionResponse"/>
</message>
<message name="TipoDeLetra">
<part name="parameters" element="tns:TipoDeLetra"/>
</message>
<message name="TipoDeLetraResponse">
<part name="parameters" element="tns:TipoDeLetraResponse"/>
</message>
<message name="Defecto5">
<part name="parameters" element="tns:Defecto5"/>
</message>
<message name="Defecto5Response">
<part name="parameters" element="tns:Defecto5Response"/>
</message>
<message name="ColorDeLaFuente">
<part name="parameters" element="tns:ColorDeLaFuente"/>
</message>
<message name="ColorDeLaFuenteResponse">
<part name="parameters" element="tns:ColorDeLaFuenteResponse"/>
</message>
<message name="LWSProcess">
<part name="parameters" element="tns:LWSProcess"/>
</message>
<message name="LWSProcessResponse">
<part name="parameters" element="tns:LWSProcessResponse"/>
</message>
<message name="Completitud">
<part name="parameters" element="tns:Completitud"/>
</message>
<message name="CompletitudResponse">
<part name="parameters" element="tns:CompletitudResponse"/>
</message>
<message name="usability">
<part name="parameters" element="tns:usability"/>
</message>
<message name="usabilityResponse">
<part name="parameters" element="tns:usabilityResponse"/>
</message>
<message name="Defecto1">
<part name="parameters" element="tns:Defecto1"/>
</message>
<message name="Defecto1Response">
<part name="parameters" element="tns:Defecto1Response"/>
</message>
<portType name="WebServiceSOAP">
<operation name="TamañoDeLaFuente">
<input wsam:Action="http://WebService/WebServiceSOAP/TamañoDeLaFuenteRequest" message="tns:TamañoDeLaFuente"/>
<output wsam:Action="http://WebService/WebServiceSOAP/TamañoDeLaFuenteResponse" message="tns:TamañoDeLaFuenteResponse"/>
</operation>
<operation name="obtenerDirecciondelRecurso">
<input wsam:Action="http://WebService/WebServiceSOAP/obtenerDirecciondelRecursoRequest" message="tns:obtenerDirecciondelRecurso"/>
<output wsam:Action="http://WebService/WebServiceSOAP/obtenerDirecciondelRecursoResponse" message="tns:obtenerDirecciondelRecursoResponse"/>
</operation>
<operation name="Defecto3">
<input wsam:Action="http://WebService/WebServiceSOAP/Defecto3Request" message="tns:Defecto3"/>
<output wsam:Action="http://WebService/WebServiceSOAP/Defecto3Response" message="tns:Defecto3Response"/>
</operation>
<operation name="Defecto4">
<input wsam:Action="http://WebService/WebServiceSOAP/Defecto4Request" message="tns:Defecto4"/>
<output wsam:Action="http://WebService/WebServiceSOAP/Defecto4Response" message="tns:Defecto4Response"/>
</operation>
<operation name="redeability">
<input wsam:Action="http://WebService/WebServiceSOAP/redeabilityRequest" message="tns:redeability"/>
<output wsam:Action="http://WebService/WebServiceSOAP/redeabilityResponse" message="tns:redeabilityResponse"/>
</operation>
<operation name="ColorDeFondo">
<input wsam:Action="http://WebService/WebServiceSOAP/ColorDeFondoRequest" message="tns:ColorDeFondo"/>
<output wsam:Action="http://WebService/WebServiceSOAP/ColorDeFondoResponse" message="tns:ColorDeFondoResponse"/>
</operation>
<operation name="Defecto2">
<input wsam:Action="http://WebService/WebServiceSOAP/Defecto2Request" message="tns:Defecto2"/>
<output wsam:Action="http://WebService/WebServiceSOAP/Defecto2Response" message="tns:Defecto2Response"/>
</operation>
<operation name="Aviabilidad">
<input wsam:Action="http://WebService/WebServiceSOAP/AviabilidadRequest" message="tns:Aviabilidad"/>
<output wsam:Action="http://WebService/WebServiceSOAP/AviabilidadResponse" message="tns:AviabilidadResponse"/>
</operation>
<operation name="Alineacion">
<input wsam:Action="http://WebService/WebServiceSOAP/AlineacionRequest" message="tns:Alineacion"/>
<output wsam:Action="http://WebService/WebServiceSOAP/AlineacionResponse" message="tns:AlineacionResponse"/>
</operation>
<operation name="TipoDeLetra">
<input wsam:Action="http://WebService/WebServiceSOAP/TipoDeLetraRequest" message="tns:TipoDeLetra"/>
<output wsam:Action="http://WebService/WebServiceSOAP/TipoDeLetraResponse" message="tns:TipoDeLetraResponse"/>
</operation>
<operation name="Defecto5">
<input wsam:Action="http://WebService/WebServiceSOAP/Defecto5Request" message="tns:Defecto5"/>
<output wsam:Action="http://WebService/WebServiceSOAP/Defecto5Response" message="tns:Defecto5Response"/>
</operation>
<operation name="ColorDeLaFuente">
<input wsam:Action="http://WebService/WebServiceSOAP/ColorDeLaFuenteRequest" message="tns:ColorDeLaFuente"/>
<output wsam:Action="http://WebService/WebServiceSOAP/ColorDeLaFuenteResponse" message="tns:ColorDeLaFuenteResponse"/>
</operation>
<operation name="LWSProcess">
<input wsam:Action="http://WebService/WebServiceSOAP/LWSProcessRequest" message="tns:LWSProcess"/>
<output wsam:Action="http://WebService/WebServiceSOAP/LWSProcessResponse" message="tns:LWSProcessResponse"/>
</operation>
<operation name="Completitud">
<input wsam:Action="http://WebService/WebServiceSOAP/CompletitudRequest" message="tns:Completitud"/>
<output wsam:Action="http://WebService/WebServiceSOAP/CompletitudResponse" message="tns:CompletitudResponse"/>
</operation>
<operation name="usability">
<input wsam:Action="http://WebService/WebServiceSOAP/usabilityRequest" message="tns:usability"/>
<output wsam:Action="http://WebService/WebServiceSOAP/usabilityResponse" message="tns:usabilityResponse"/>
</operation>
<operation name="Defecto1">
<input wsam:Action="http://WebService/WebServiceSOAP/Defecto1Request" message="tns:Defecto1"/>
<output wsam:Action="http://WebService/WebServiceSOAP/Defecto1Response" message="tns:Defecto1Response"/>
</operation>
</portType>
<binding name="WebServiceSOAPPortBinding" type="tns:WebServiceSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="TamañoDeLaFuente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDirecciondelRecurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Defecto3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Defecto4">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="redeability">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ColorDeFondo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Defecto2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aviabilidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Alineacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TipoDeLetra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Defecto5">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ColorDeLaFuente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LWSProcess">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Completitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="usability">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Defecto1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceSOAP">
<port name="WebServiceSOAPPort" binding="tns:WebServiceSOAPPortBinding">
<soap:address location="http://localhost:8080/LWS_ASSESS_OOF_V2/WebServiceSOAP"/>
</port>
</service>
</definitions>