QLEER(Quality Learning Resources Reader)/web/WEB-INF/wsdl/localhost_8080/ServiciosWebDeAprendizaje/SWA2DOCX.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://SWADOCX/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://SWADOCX/">

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="convertirDOCXaBase64" type="tns:convertirDOCXaBase64"/>

<xs:element name="convertirDOCXaBase64Response" type="tns:convertirDOCXaBase64Response"/>

<xs:complexType name="convertirDOCXaBase64">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="convertirDOCXaBase64Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>